<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand logo " href="/listing"  ><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fs-5 fb-3 fw-bold" href="/listing">Explore</a>
        <a class="nav-link fs-5" href="/listing/new">Airbnb your home</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
        <a class="nav-link" aria-current="page" href="/login">Login</a>
        <a class="nav-link" href="/signup">Sign Up</a>
        <% } %> 
        <% if(currUser) {%>
        <a class="nav-link" href="#"><b>@<%= currUser.username %></b></a>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
