body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}
.fa-compass{
    font-size: 1.5rem;
    color: #fe424f;
}
.nav-link{
    color: #222222 !important;
}

/* footer */


.f-info{
    height: 7rem;
    background-color: rgb(234, 241, 247);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px ;
    line-height: 25px;
    font-size: 1.2rem;
    
}
.f-info a{
    text-decoration: none;
}
.fa-brands{
    margin-bottom: 10px;
    cursor: pointer;
}
.terms{
    cursor: pointer;
}
/* card */
.card-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
.card{
    height: 70vh !important;
    border: none !important;
      margin-top: 20px;
    margin-bottom: 20px;
     border-radius: 10px 10px 10px 10px !important;

}
.card img{
    height: 250px;
}
.card-container a{
    text-decoration: none;
}
.card-body{
    text-align: justify;
}
.card img{
    border-radius: 10px 10px 0px 0px;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.edit-btn{
    display: flex;
    gap: 20px;
}

.card-review{
    border: 1px solid black;
    padding: 10px;
}
.logo{
    text-align: center;
    margin-top: 6px;
    margin-left: 10px;
    font-weight: bolder;
}